:root {
  --text-main: #434455;
  --primary-text-color: #2e2f42;
  --button-color: #4d5ae5;
  --hover-color: #404bbf;
  --bcgnd-fltr-clr: #f4f4fd;
  --text-footer-clr: #e7e9fc;
  --font-hero-clr: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--text-main);
  background-color: var(--font-hero-clr);
}
/*===========COMPONENTS===========*/

.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;

  text-align: center;
  text-transform: capitalize;

  color: var(--primary-text-color);
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.accent {
  color: var(--button-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  display: flex;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*===========/COMPONENTS/===========*/

/*===========HEADER===========*/
.header {
  border-bottom: 1px solid var(--text-footer-clr);
}

.main-page {
  align-items: center;
}

.page-header {
  display: flex;
  margin-right: auto;
}

.page-header > .link {
  margin-right: 76px;
}

.logo-header {
  align-self: center;
}

.menu-item:not(:last-child),
.menu-adress-item:not(:last-child) {
  margin-right: 40px;
}
.menu-nav {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;

  cursor: pointer;
}

.menu-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-studio:hover,
.menu-studio:focus,
.menu-prt:hover,
.menu-prt:focus,
.menu-cnts:hover,
.menu-cnts:focus,
.menu-email:hover,
.menu-email:focus,
.menu-tel:hover,
.menu-tel:focus {
  color: var(--hover-color);
}

.menu-studio,
.menu-prt,
.menu-cnts {
  color: var(--primary-text-color);
}

.menu-adress {
  display: flex;

  font-style: normal;
}

.menu-email,
.menu-tel {
  color: inherit;
}

/*===========/HEADER/===========*/

/*============HERO===============*/
.main-title {
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;

  color: var(--font-hero-clr);
}

.service-btn {
  display: inline-block;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;

  color: var(--font-hero-clr);
  background: var(--button-color);

  cursor: pointer;
}
.service-btn:hover,
.service-btn:focus {
  background: var(--hover-color);
}

.hero {
  text-align: center;
  background: var(--primary-text-color);
}
/*============/HERO/===============*/

/*========OUR FEATURES=============*/

.features-items {
  display: flex;
}

.features-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;

  color: var(--primary-text-color);
}

.features-list:not(:last-child) {
  margin-right: 24px;
}
/*======/OUR FEATURES/=============*/

/*======WHAT ARE WE DOING=============*/
.foto-items {
  display: flex;
}

.picture {
  border: 1px solid var(--text-footer-clr);
}

.foto-image:not(:last-child) {
  margin-right: 24px;
}
/*======OUR TEAM=============*/

.team-items {
  display: flex;
  text-align: center;
}

.team-foto,
.team-position {
  margin-bottom: 32px;
}

.team {
  background: var(--bcgnd-fltr-clr);
}

.team-list {
  background: var(--font-hero-clr);
  border-radius: 0px 0px 4px 4px;
}

.team-list:not(:last-child) {
  margin-right: 24px;
}

.team-name {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;

  color: var(--primary-text-color);
}

/*======/OUR TEAM/=============*/
/*======FOOTER=============*/

.container-footer {
  width: 1128px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  background: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--bcgnd-fltr-clr);
  margin-bottom: 16px;
}

.text-footer {
  width: 264px;

  color: var(--text-footer-clr);
}
/*======/FOOTER/=============*/
/*======PORTOFOLIO=============*/
.page-ptf {
  padding-top: 96px;
}

.filter-menu-set {
  justify-content: center;
}

.filter-menu {
  display: flex;
  margin-bottom: 72px;
}

.filter-btn {
  display: block;
  /*margin-right: 24px;*/
  padding: 12px 24px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: inherit;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;

  color: var(--button-color);
  background: var(--bcgnd-fltr-clr);

  cursor: pointer;
}

.filter-button:not(:last-child) {
  margin-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--font-hero-clr);
  background: var(--hover-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -48px;
}

.foto-card {
  border-bottom: 1px solid var(--text-footer-clr);
  margin-right: 24px;
  margin-bottom: 48px;
  padding-bottom: 32px;
  flex-basis: calc(100% / 3 - 48px);
}

.foto-ptf {
  margin-bottom: 32px;
}

.title-ptf {
  margin-bottom: 8px;
  padding-left: 16px;

  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;

  color: var(--primary-text-color);
}

.name-fltr-ptf {
  padding-left: 16px;
}

/*======/PORTOFOLIO/=============*/
